<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/joint.css" />
<link rel="stylesheet" href="../css/tutorial.css" />

<title>${entity.databaseTable} documentation</title>
<STYLE TYPE="text/css"> 
table {
	 border: thin solid Gray;
}
th,td{
	 border: thin solid Gray;
	 	margin-left: 10px;
 	margin-right: 10px;
 		padding-left: 10px;
 padding-right: 10px;
 	
}
th {
	 background-color: #B3AFDE;
	}
td.label{
	 background-color: #B3AFDE;
}

</STYLE> 

</head>
<body>
##=============== Diag Uml

 <div id="noid" style="float:right; padding:50px;width:700">
	
  	<p>Table ${entity.databaseTable} Relationship <span style="float:right"><a href="../database.html"><img src="../img/bouton_retour_liste.gif" /></a></p>
	<h6>use ctrlt+click on object to access to the correponding Table</h6>
  	<div id="paper" class="paper" style=="border:0.5;border-style:solid;"></div>
 	
	<script src="../jointjs/joint.js"></script>
	<script src="../jointjs/joint.shapes.uml.js"></script>
	<script src="./${entity.name}.js"></script>
 	<div id="btnAction">
		<button onclick="saveGraph();">Save Graph</button> 
		<button onclick="loadGraph();">Load Graph</button>
		<input id="zoom" type="range" min="0.1" max="1" step="0.05" oninput="updateZoom();"/>
	</div>
</div>

##===============
<h2>"${entity.databaseTable}" table documentation </h2>
<p>This documentation has been generated by <a href="http://tools.telosys.org/">Telosys Tools</a> ( v $generator.version ) $today.date ( $today.time )</p>

## ============== Table / Schema / Catalog / Type
<table>
<tr>  
   <th> Name </th>                 
   <th> Schema </th> 
   <th> Catalog </th> 
   <th> Type </th> 
</tr>
<tr>  
  <td> $entity.databaseTable</td>
  <td> $entity.databaseSchema &nbsp;</td>
  <td> $entity.databaseCatalog &nbsp;</td>
  <td> $entity.databaseType </td>
</tr>
</table>
## ==============

  
<br><br>
## ============== Columns
<table>
<tr>
  <th>Column name</th> <th >PK</th> <th>Column type</th> <th>Size</th>  <th>JDBC type</th>
</tr>

#foreach( $field in $entity.attributes )
<tr>
  <td #if ( $field.isKeyElement() ) style="font-weight:bold;"#end >$field.databaseName</td>
  <td>#if ( $field.isKeyElement() ) <b>PK</b>#else &nbsp; #end</td>
  <td>$field.databaseTypeWithSize </td>
  <td align="right">$field.databaseSize</td>
  <td align="right">$field.jdbcTypeCode</td>
</tr>
#end
</table>
## ==============
<br><br>
## ============== Foreign Keys
#if ( $entity.databaseForeignKeysCount > 0 )
<table>
<tr>
  <th colspan="4">Foreign keys</th>
</tr>
#foreach( $fk in $entity.databaseForeignKeys )
#set($rowspan=$fk.columnsCount+2)
<tr>
  <td style="font-weight:bold;" rowspan="$rowspan" >$fk.name</td>
  <td>$fk.tableName</td>
  <td>$fk.referencedTableName</td>
</tr>
#foreach( $fkcol in $fk.columns )
<tr>
  ## <td>&nbsp;</td>
  <td>$fkcol.columnName</td>
  <td>$fkcol.referencedColumnName</td>
</tr>
#end
<tr>
  ## <td>&nbsp;</td>
  <td colspan="2">
  on delete : $fk.deleteRule ($fk.deleteRuleCode) <br>
  on update : $fk.updateRule ($fk.updateRuleCode)<br>
  deferrable : $fk.deferrable ($fk.deferrableCode)<br>
  </td>
</tr>
#end
</table>
#else
<b>No foreign key.</b>
#end
## ==============
<br><br>

</body>
</html>
