#---------------------------------------------------------
# Specific templates configuration file
# 4 values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Teloysy Tools ver 2.1.0

Database tables list (HTML)         ; database.html     ; dbdoc         ; database_tables_list.vm  ; 1
Database table description (HTML)   ; ${BEANNAME}.html  ; dbdoc/tables  ; database_table_doc.vm    ; *
Database table diagram (Javascript) ; ${BEANNAME}.js    ; dbdoc/tables  ; database_table_diag.vm   ; *

#--- Static resources
All static resources  ; ; dbdoc ; ; R 
